body{
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #000;
}

.head{
  margin-top: 0.5%;
  height: 30px;
  background-color: #eee;
  border-radius: .25em;
  border: 2px solid #ffa500;
}

#title{
  color:#ffa500;
  font-size: 120%;
  margin-left: 1%;
}

#myContainer p {
    background-color: aliceblue;
    margin: 2px;
}

.map {
    margin-top: 10px;
    height: 100%;
    width: 86%;
    background-color: #444;
    float:left;
    overflow:hidden;
}

#tooltip {
    position: absolute;
    text-align: left;
    padding: 50px;
    margin: 20px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 3px;
    border-radius: 2px;
    pointer-events: none;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background: rgba(255, 255, 255, 0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:5px;
    color: #000000;
    opacity:1.3;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:70px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
      font-weight: bold;
}

.slider-start{
  margin-left:2%;
}

.slider-end{
  margin-right:1%;
}

.slider{
  width: 30%;
}

.slider.slider-horizontal{
  width: 100% !important;
  height: 22px !important;
}

.slider .slider-horizontal .slider-track{
  height: 30% !important;
}

.slider .tooltip.top {
  display: none;
}

.slider .slider-track-high{
  background: #888;
}

.slider .slider-selection {
   background: #555;
}

#averageConsumeLabel{
  margin-left: 1%;
}

#averageConsumeVal{
  color: #09ad7e;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 2px;
}

#countryLabel{
  margin-left: 1%;
}

#countryNumber{
  width: 5%;
  color: #09ad7e;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 2px;
}

#timeSliderVal{
  color: #09ad7e;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 2px;
}

form{
  float:right;
  height: 100%;
  margin-right: 3%;
}

form p{
  float:left;
  margin: 0;
  padding-top: 3%;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.75em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1em; height: 1em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 100%;
  line-height: 1;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

#selectType{
margin-left: 1%;
}

.selectBox {
width: 10%;
height: 80%;
color: #000;
border-radius: 2px;
}

body {
  font: 10px verdana;
}
.axis path,
.axis line {
  fill: none;
  stroke: #333;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}